article{
  background-color: lightgrey;
  width: 300px;
  border: 15px solid green;
  padding: 50px;
  margin-left: 450px;
  text-align: center;
}
footer{
  text-align: center;
  background-color: lightgray;
}